<!DOCTYPE html>
<html>
  	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Moodm - Get the emotion of songs">
	<meta name="keywords" content="moodm,emotion,songs">
	<meta name="author" content="Team Decipher">
    	<title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
  	</head>
  	<body>
	    <div id="contain">
		    <form>
		         <fieldset>
		            <input type="text" id="search" name="search" placeholder="Enter a song name" />
		            <input type="button" id="submit" value="Search"/>
		         </fieldset>
		    </form>
	     	<div id="result"></div>
	    </div>
	    <script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
	    <script type="text/javascript" src="/javascripts/getMood.js"></script>
  	</body>
</html>
